.groupContainer {
  font-size: 13px;
  display: flex;
  width: 370px;
  justify-content: space-between;
  font-family: Alimama FangYuanTi VF;
  margin-top: 72px;
  .downLoadBtn {
    width: 153px;
    height: 38px;
    padding: 8px 12px;
    border-radius: 8px;
    box-sizing: content-box;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background-color: #242526;
    .strongText {
      font-size: 15px;
      font-weight: bold;
      color: #fcfcfd;
    }
  }
  .downLoadBtn:hover {
    background-color: #fcfcfd;
    .strongText {
      color: #242526;
    }
  }
}
