.loginContainer {
  display: flex;
  padding-top: 20vh;
  justify-content: center;
  height: 100vh;
  .loginBox {
    width: 400px;
    text-align: center;
    .loginTitle {
      font-family: 'Alimama FangYuanTi VF';
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
    }
    .loginDescription {
      font-family: Roboto;
      font-weight: 400;
      color: #808282;
    }
  }
  .loginForm {
    text-align: left;
    margin-top: 40px;
    .input {
      width: 336px;
    }
  }
}
