.loginContainer {
  display: flex;
  justify-content: center;
  .loginBox {
    margin-top: 10%;
    width: 400px;
    .loginTitle {
      font-family: 'Alimama FangYuanTi VF';
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
      text-align: center;
    }
    .loginDescription {
      font-family: Roboto;
      font-weight: 400;
      color: #808282;
      font-size: 14px;
    }
    // 表单相关
    .formBox {
      margin-top: 50px;
    }
  }
}
