.layoutContentContainer {
  padding: 0 24px 24px;
  .layoutBreadcrumb {
    margin: 16px 0;
  }
  .layoutContent {
    padding: 24px;
    background-color: #ffffff;
    border-radius: 8px;
    // height: 800px;
    // overflow-y: scroll;
  }
}
