.menuContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  .menuBox {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      display: flex;
      align-items: center;
      .logoToken{
        margin-left: 5px;
      }
    }
    .menuContent {
      font-family: Gilroy;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      display: flex;
      .link {
        color: #7e8795;
        margin-right: 24px;
        text-decoration: none;
      }
      .link:hover {
        color: #000;
      }
      .languageContainer {
        .languageIcon {
          width: 16px;
          height: 16px;
        }
        .languageList {
          margin: 5px;
          padding: 10px;
          width: 100px;
          height: 42px;
          position: absolute;
          right: 150px;
          border-radius: 5px;
          top: 50px;
          background-color: #ffffff;
          .languageGroup {
            .languageItem {
              margin-top: 2px;
              display: flex;
              align-items: center;
              list-style-type: none;
              justify-content: space-between;
              margin: 5px;
              color: #7e8795;
              .languageLabel {
                color: #010101;
              }
              .selectIcon {
                width: 16px;
              }
            }
          }
        }
      }
    }
  }

  &.fixed {
    background-color: #fff;
    border: 1px solid #e1e1e1;
  }
}
