.ipWhiteContainer {
  width: 529px;
  height: 322px;
  padding: 24px 40px 44px 40px;
  border-radius: 16px;
  border: 1px solid var(--color-border-white8);
  background: var(--color-fill-quin);
  backdrop-filter: blur(20px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .title {
    margin-top: var(--spacing-12);
    header {
      color: var(--color-text-pri);
      font-size: var(--font-size-title3);
      font-weight: 600;
    }
    .desc {
      margin-top: var(--spacing-12);
      font-size: var(--font-size-caption1);
    }
  }
  .inputBpx {
    margin-top: 32px;
    input {
      width: 100%;
      min-height: 32px;
      flex-wrap: wrap;
    }
  }
  button {
    height: 48px;
    margin: 0 2px;
    border-radius: var(--radius---radius-8, 8px);
    border: 1px solid var(--color-border-white8, rgba(255, 255, 255, 0.08));
  }
}
