.dataBoardContainer {
  margin-top: 60px;
  width: 1200px;
  min-height: 800px;
  margin-bottom: 36px;
  .active {
    color: var(--color-text-pri);
    text-decoration-line: underline;
    font-size: 36px;
  }
  .tabBox {
    width: 355px;
    height: 44px;
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .searchBox {
    width: 282px;
    height: 36px;
    border-radius: 4px;
    display: flex;
    padding-right: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-fill-quin);
    border: 0.5px solid var(--color-border-white8);
    .searchInput {
      border: none;
      color: var(--color-text-pri);
      height: 100%;
      width: 90%;
      padding-left: 5px;
      background-color: var(--color-fill-quin);
    }
  }
  .moreButton {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;

    color: var(--color-text-link);
  }
}
