.ant-table-wrapper .ant-table {
  background-color: var(--color-bg-pri);
}

.ant-table-content .ant-table-thead .ant-table-cell {
  background-color: var(--color-bg-pri);
  color: var(--color-text-quat);
  font-weight: normal;
  font-size: 14px;
  border: none;
}

.ant-table-cell::before {
  content: '';
  width: 0px !important;
}
.ant-table-tbody .ant-table-row {
  color: var(--color-text-pri);
  border-bottom: none;
  background-color: var(--color-bg-pri);
}

.ant-table-tbody > tr:hover {
  background-color: var(--color-text-pri-select);
}

.ant-table .ant-table-content .ant-table-tbody > tr > td {
  border: none;
}
.ant-table .ant-table-content .ant-table-tbody > tr:hover > td {
  color: var(--color-text-pri);
  background-color: var(--color-text-pri-select) !important;
}

.ant-table-row-selected {
  color: #ffffff !important;
  background-color: var(--color-bg-pri) !important;
  border: none !important;
}

.ant-table-expanded-row {
  background-color: var(--color-bg-pri) !important;
  border: none !important;
}
