.funContainer {
  margin-top: 88px;
  .funItem {
    display: flex;
    width: 291px;
    height: 420px;
    padding: 60px 40px;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
    margin: 0 6px;
    border: 1px solid var(--color-border-white8);
    cursor: default;
    background: radial-gradient(
        62.66% 70.6% at 100% 0%,
        rgba(255, 255, 255, 0.04) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      var(--color-bg-pri);
    .content {
      p {
        font-size: 21px;
        font-weight: 600;
        color: var(--color-text-pri);
      }
    }
  }
}
