.button-style {
  width: 58px;
  height: 32px;
  background-color: inherit;
  border-radius: 6px;
  color: var(--color-text-pri);
  border: 1px solid var(--color-border-white8);
}
.activeBtn {
  opacity: 1 !important;
  background: #0099ff !important;
}

.unActiveBtn {
  border-radius: var(--radius-8);
  opacity: 0.4 !important;
  background: var(--color-fill-white8);
}
