.navContainer {
  height: 80px;
  line-height: 80px;
  border-radius: 8px;
  border: 1px solid var(--color-border-white8);
  border-top: none;
  color: var(--color-text-ter);
  // width: 1200px;
  width: 80vw;
  padding: 0 var(--spacing-6);
  margin: 0 auto;
  margin-bottom: var(--spacing-24);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-bg-pri);
  z-index: 999;
  // background-color: var(--color-fill-black2);
  .linkList {
    margin-left: 25px;
    width: 20vw;
    cursor: pointer;
    .navActive {
      color: var(--color-text-pri);
      text-decoration: underline;
    }
  }

  .aidedNavList {
    width: 20vw;
    align-items: center;

    button {
      margin: 0;
      height: 32px;
      width: 58px;
      border-radius: 6px;
      border: none;
      cursor: pointer;
    }
    img {
      cursor: pointer;
    }
    .loginButton {
      background-color: var(--color-fill-quin);
      color: var(--color-text-ter);
      cursor: pointer;
    }
    .registerButton {
      background-color: var(--color-fill-pri);
      color: var(--color-text-quin);
      cursor: pointer;
    }
  }
}
