.navContainer {
  height: 80px;
  line-height: 80px;
  border-radius: 8px;
  border: 1px solid #ffffff14;
  border-top: none;
  color: #babbbc;
  box-shadow: 0 4px 24px 0 0000000f;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: var(--spacing-24);
  .linkList {
    margin-left: 25px;
    width: 272px;
  }
  .aidedNavList {
    width: 272px;
    align-items: center;
    button {
      margin: 0;
      height: 32px;
      width: 58px;
      border: none;
    }
    .loginButton {
      background-color: var(--color-fill-quin);
      color: var(--color-text-ter);
    }
    .registerButton {
      background-color: var(--color-fill-pri);
      color: var(--color-text-quin);
    }
  }
}
