.layoutContainer {
  background-color: var(--color-bg-pri);
  color: var(--color-text-ter);
  .layoutBox {
    width: 1200px;
    margin: 0 auto;
    .layoutHeader {
      height: 80px;
      padding: 0;
      background-color: var(--color-bg-pri);
    }
    .layoutContent {
      background-color: var(--color-bg-pri);
    }
    .layoutFooter {
      padding: 0;
      height: 600px;
      background-color: var(--color-bg-pri);
    }
  }
}
