.layoutContainer {
  background-color: #000;
  .layoutBox {
    width: 1200px;
    margin: 0 auto;
    .layoutHeader {
      height: 80px;
      padding: 0;
      background-color: #000;
    }
    .layoutContent {
      background-color: #000;
    }
    .layoutFooter {
      padding: 0;
      height: 600px;
      background-color: #000;
    }
  }
}
