:root {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PingFang SC';
}

* {
  box-sizing: border-box;
}
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
