.colContainer {
  width: 429px;
  // height: 180px;
  height: 232px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  border-radius: 8px;
  background-color: red;
  padding: 8px;
  border: 1px solid var(--color-border-white8);
  background-color: var(--color-fill-quin);
  .totalBox {
    width: 50%;
  }
  .collectBox {
    width: 50%;
    button {
      width: 58px;
      height: 28px;
    }
  }
}
