.privacyContainer {
  width: 1200px;
  font-family: Gilroy;
  font-size: 14px;
  margin: 0 auto;
  border-radius: 24px;
  padding-top: 90px;
  background-color: var(--color-bg-pri);
  .privacyTop {
    padding: 10px;
  }
  header {
    padding: 0 72px 12px 72px;
    text-align: center;
  }
  .updateDate {
    color: #7e8795;
    text-align: right;
  }
  main {
    margin-top: 32px;
    padding: 0 72px;
    h4 {
      margin-top: 32px;
      font-size: 16px;
    }
  }
}
